.user-list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.user-item {
  width: 100%;
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.user-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.user-quantity {
  padding: 0.25em 0.4em;
  border-radius: 10rem;
  background-color: #17a2b8;
}
.user-quantity p {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.user-text {
  font-size: 16px;
  color: #212529;
}
.user-btn {
  color: #dc3545;
  background-color: transparent;
  border-color: #dc3545;
  border: 1px solid #dc3545;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.user-btn:hover,
.user-btn:focus {
  color: #fff;
  background-color: #dc3545;
}
.active {
  border-left: 4px solid #ff1493;
}
